<div class="container-fluid">
  <div class="row">
    <nav class="header col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img class="applogo" src="/images/CaretakrWhite.png" alt="" />
      <div class="indexNav">
        <a class="btn home-btn" href="/admin/{{user_id}}/settings">Settings</a>
        <a class="btn home-btn" href="/auth/logout">Logout</a>
        <img class="circleimage" src="{{user.picture_url}}" alt="" />
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid hamburger">
  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        {{#dependents}}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/admin/{{user_id}}/dependents/{{dependents_id}}">{{dependent_name}}</a>
            </li>
            <li>
              <a href="/admin/{{user_id}}/add">Add new dependent</a>
            </li>
            <li>
              <a href="/admin/{{user_id}}/contacts">Add/update contacts</a>
            </li>
            <li>
              <a href="/admin/{{user_id}}/settings">Settings</a>
            </li>
            <li>
              <a href="/auth/logout">Logout</a>
            </li>
          </ul>
        </div>
          {{/dependents}}
      </div>
    </nav>
  </div>
</div>

<div class="left">
  <div class="leftnav household">
    <h3><a href="/admin/{{user_id}}/home">Your Household</a></h3>
  </div>
  {{#dependents}}

  <div class="leftnav">
    <!-- Eventually users name as an hbs param goes below -->
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/dependents/{{dependents_id}}">{{dependent_name}}</a>
      <div class="circleimage2">
    <img src="{{picture_url}}" alt="" />
  </div></h2>
  </div>
  {{/dependents}}
  <!-- <div class="leftnav">
    <h2 class='dependentsId'>Jane</h2>
  </div>
  <div class="leftnav">
    <h2 class='dependentsId'>Scruffles</h2>
    <i class="fa fa-paw fa-2x"></i>
  </div> -->
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/contacts">Add/update contacts</a></h2>

  </div>
</div>


<div class="right">
  <div class="row">
    <form  class="add" action="/admin/{{user_id}}/add" method="post">
      <h3>Add a new dependent</h3>
      <label for="being_type">Type</label><br>
      <input type="text" name="being_type" value=""> <br>
      <label for="name">Name</label><br>
      <input type="text" name="dependent_name" value="" required><br>
      <label for="picture_url">Link to a photo (ex:https://myphoto.com)</label><br>
      <input type="text" name="picture_url" value=""><br>
      <div id="add_rules_form">
        <label for="section1name">Rule Name:</label>
        <input type="text" name="title" value="" required><br>
        <label for="section1">Content</label><br>
        <textarea name="body" rows="4" cols="40" required></textarea><br>
      </div>
      <input id="add_rule" type="button" value="+">
      <input id="subtract_rule" type="button" value="-">
      <input type="hidden" name="title" value=""><br>
      <input type="hidden" name="body" value=""cols="40"></input><br>
      <input type="submit" value="Add">

    </form>
  </div>
</div>
