<nav>
  <img class="applogo" src="/images/CaretakrWhite.png" alt="" />

  <div>
    <div class="circleimage">
      <!-- eventually user image goes here  -->
      <img src="http://image.shutterstock.com/z/stock-photo-young-man-making-a-funny-face-49678489.jpg" alt="" />
    </div>
    <div class="navbar">
      <a href="/settings">Settings</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
</nav>

<div class="left">
  <div class="leftnav household">
    <h3><a href="/admin/{{user_id}}/home">Your Household</a></h3>
  </div>
  {{#dependents}}

  <div class="leftnav">
    <!-- Eventually users name as an hbs param goes below -->
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/update/{{dependents_id}}">{{dependent_name}}</a></h2>
  </div>
  {{/dependents}}
  <!-- <div class="leftnav">
    <h2 class='dependentsId'>Jane</h2>
  </div>
  <div class="leftnav">
    <h2 class='dependentsId'>Scruffles</h2>
    <i class="fa fa-paw fa-2x"></i>
  </div> -->
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/contacts">Add/update contacts</a></h2>

  </div>
</div>


<div class="right">
  <div class="row">
    <form class="add" action="/admin/{{user_id}}/add" method="post">
      <h3>Add a new dependent</h3>
      <label for="being_type">Type</label><br>
      <input type="radio" name="being_type" value="child">
      <label class='smaller' for="child">Child</label><br>
      <input type="radio" name="being_type" value="pet">
      <label class='smaller' for="pet">Pet</label><br>
      <label for="name">Name</label><br>
      <input type="text" name="dependent_name" value=""><br>
      <label for="picture_url">Link to a photo (ex:https://myphoto.com)</label><br>
      <input type="text" name="picture_url" value=""><br>
      <label for="section1name">Rule Name:</label>
      <input type="text" name="title" value=""><br>
      <label for="section1">Content</label><br>
      <textarea name="body" rows="4" cols="40"></textarea><br>
      <label for="section2name">Rule Name:</label>
      <input type="text" name="title" value=""><br>
      <label for="section2">Content</label><br>
      <textarea name="body" rows="4" cols="40"></textarea><br>
      <label for="section3name">Rule Name:</label>
      <input type="text" name="title" value=""><br>
      <label for="section3">Content</label><br>
      <textarea name="body" rows="4" cols="40"></textarea><br>
      <label for="section4name">Rule Name:</label>
      <input type="text" name="title" value=""><br>
      <label for="section4">Content</label><br>
      <textarea name="body" rows="4" cols="40"></textarea><br>
      <input type="submit" value="Add">
    </form>
  </div>
</div>
