<nav>
  <img class="applogo" src="/images/CaretakrWhite.png" alt="" />

  <div>
    <div class="circleimage">
      <!-- eventually user image goes here  -->
      <img src="{{user.picture_url}}" alt="" />
    </div>
    <div class="navbar">
      <a href="/admin/{{user_id}}/settings">Settings</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
</nav>

<div class="left">
  <div class="leftnav household">
    <h3><a href="/admin/{{user_id}}/home">Your Household</a></h3>
  </div>
  {{#dependents}}

  <div class="leftnav">
    <!-- Eventually users name as an hbs param goes below -->
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/dependents/{{dependents_id}}">{{dependent_name}}</a>
      <div class="circleimage2">
    <img src="{{picture_url}}" alt="" />
  </div></h2>
  </div>
  {{/dependents}}
  <!-- <div class="leftnav">
    <h2 class='dependentsId'>Jane</h2>
  </div>
  <div class="leftnav">
    <h2 class='dependentsId'>Scruffles</h2>
    <i class="fa fa-paw fa-2x"></i>
  </div> -->
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/update">Add/update contacts</a></h2>

  </div>
</div>

<div class="right">
  <div class="row">
    <form class="add" action="/admin/{{user.user_id}}/contacts" method="post">
      <h3>Contact Info</h3>
      <label for="cellphone">My Cell Phone</label><br>
      <input type="text" name="phone_number" value="{{user.phone_number}}"><br>
      <label for="email">My Email</label><br>
      <input type="text" name="email" value="{{user.user_name}}"><br>
      <label for="doctor">Doctor's Phone (child)</label><br>
      <input type="text" name="doctor_number" value="{{contact_info.doctor_number}}"><br>
      <label for="doctor">Doctor's Phone (pet)</label><br>
      <input type="text" name="vet_number" value="{{contact_info.vet_number}}"><br>
      <label for="Neighbor's Phone">Neighbor's Phone</label><br>
      <input type="text" name="dependent_friend_number" value="{{contact_info.dependent_friend_number}}"><br>

      <input type="submit" value="Update">
    </form>
  </div>
</div>
