<div class="container-fluid">
  <div class="row">
    <nav class="header col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img class="applogo" src="/images/CaretakrWhite.png" alt="" />
      <div>
        <div class="indexNav">
          <a class="btn home-btn" href="/admin/{{user_id}}/settings">Settings</a>
          <a class="btn home-btn" href="/auth/logout">Logout</a>
        </div>
        <div class="circleimage">
          <img src="{{user.picture_url}}" alt="" />
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="left">
  <div class="leftnav household">
    <h3><a href="/admin/{{user_id}}/home">Your Household</a></h3>
  </div>
  {{#dependents}}
  <div class="leftnav">
    <!-- Eventually users name as an hbs param goes below -->
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/dependents/{{dependents_id}}">{{dependent_name}}</a>
      <div class="circleimage2">
    <img src="{{picture_url}}" alt="" />
  </div></h2>
  </div>
  {{/dependents}}
<div class="leftnav new">
  <i class="fa fa-plus fa-lg"></i>
  <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/contacts">Add/update contacts</a></h2>

  </div>
</div>

<div class="right">
  <div class="row">
    <h2>{{rules.dependent_name}}</h2>
  </div>
  <div class="row">
    <div class="list">
      <h3>Instructions</h3>
      {{#each rules}}
      {{#if title}}
        <h1>{{title}}</h1>
        <h4>{{body}}</h4>
        {{/if}}
      {{/each}}
    </div>

  <div class="row">
    <section>
      <button><a href="/admin/{{user_id}}/update/{{dependent_id}}">Update {{rules.dependent_name}}</a></button>
    </section>
  </div>
</div>
