<div class="container-fluid ">
  <div class="row">
    <nav class="header col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img class="applogo" src="/images/CaretakrWhite.png" alt="" />
      <div class="indexNav">
        <a class="btn home-btn" href="/admin/{{user_id}}/settings">Settings</a>
        <a class="btn home-btn" href="/auth/logout">Logout</a>
        <img class="circleimage" src="{{user.picture_url}}" alt="" />
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid hamburger">
  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{#each dependents}}
            <li>
              <a href="/admin/{{this.user_id}}/dependents/{{this.dependents_id}}">{{this.dependent_name}}</a>
            </li>
            {{/each}}
            <li>
              <a href="/admin/{{user_id}}/add">Add new dependent</a>
            </li>
            <li>
              <a href="/admin/{{user_id}}/contacts">Add/update contacts</a>
            </li>
            <li>
              <a href="/admin/{{user_id}}/settings">Settings</a>
            </li>
            <li>
              <a href="/auth/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="left">
  <div class="leftnav household">
    <h3>Your Household</h3>
  </div>
  {{#dependents}}
  <div class="leftnav">
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/dependents/{{dependents_id}}">{{dependent_name}}</a>
      <div class="circleimage2">
        <img src="{{picture_url}}" alt="" />
      </div></h2>

    </div>
    {{/dependents}}
    <div class="leftnav new">
      <i class="fa fa-plus fa-lg"></i>
      <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
      <div class="leftnav new">
        <i class="fa fa-plus fa-lg"></i>
        <h2 class='dependentsId'><a href="/admin/{{user_id}}/contacts">Add/update contacts</a></h2>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="row">
      <h2>Welcome {{user_name}}!</h2>
    </div>
    <div class="row">
      <div class="list">
        <h3>Your Contact info</h3><br>
        <h4>Here's a link to your public page to share</h4>
        <p><a href="/{{user.user_id}}/public">https://caretakr.herokuapp.com/{{user.user_id}}/public</a></p><br>
        {{#if user.phone_number}}
        <h4>My Phone</h4>
        <p>{{user.phone_number}}</p>
        {{else}}
        <a href="/admin/{{user_id}}/contacts"><button>Add your cell phone number</a></button>
        {{/if}}
        {{#if contact_info.doctor_number}}
        <h4>Doctor's Phone</h4>
        <p>{{contact_info.doctor_number}}</p>
        {{/if}}
        {{#if contact_info.vet_number}}
        <h4>Vet's Phone</h4>
        <p>{{contact_info.vet_number}}</p>
        {{/if}}
        {{#if contact_info.dependent_friend_number}}
        <h4>Neighbor's Phone</h4>
        <p>{{contact_info.dependent_friend_number}}</p>
        {{/if}}
        {{#if user.email}}
        <h4>My Email</h4>
        <p>{{user.email}}</p>
        {{/if}}

      </div>
    </div>
    <div class="row">

  </div>
</div>
