<div class="left">
  <div class="leftnav household">
    <h3>{{user_name}}'s Household</h3>
  </div>
  {{#dependents}}
  <div class="leftnav">
    <!-- Eventually users name as an hbs param goes below -->
    <h2 class='dependentsId'><a href="/{{user_id}}/public/{{dependents_id}}">{{dependent_name}}</a></h2>
  </div>
  {{/dependents}}
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
    <div class="leftnav new">
      <i class="fa fa-plus fa-lg"></i>
      <h2 class='dependentsId'><a href="/admin/{{user_id}}/update">Add/update contacts</a></h2>
    </div>
  </div>
</div>

<div class="right">
  <div class="row">
    <!-- Eventually get name from database -->
    <h2>{{rules.dependent_name}}</h2>
  </div>
  <div class="row">
    <div class="list">
      <h3>Instructions</h3>
      {{#rules.title}}
      {{#titles}}
      <h1>{{this}}</h1>
      {{/titles}}
      {{#body}}
      <p>
        {{this}}
      </p>
      {{/body}}
      {{/rules.title}}

    </div>

    <div class="list">
      <h3>Contact</h3>
      <!-- Eventually contact info from databse -->
      <h4>My Phone</h4>
      <p>{{contact_info.phone_number}}</p>
      <h4>Doctor's Phone</h4>
      <p>{{contact_info.doctor_number}}</p>
      <h4>Neighbor's Phone</h4>
      <p>{{contact_info.dependent_friend_number}}</p>
      <h4>My Email</h4>
      <p>{{user.user_name}}</p>
    </div>
  </div>

</div>
