<nav>
  <img class="applogo" src="/images/CaretakrWhite.png" alt="" />
  <div>
    <div class="circleimage">
      <!-- eventually user image goes here  -->
      <img src="http://image.shutterstock.com/z/stock-photo-young-man-making-a-funny-face-49678489.jpg" alt="" />
    </div>
    <div class="navbar">
      <a href="/settings">Settings</a>
      <a href="/auth/logout">Logout</a>
    </div>
  </div>
</nav>

<div class="left">
  <div class="leftnav household">
    <h3>Your Household</h3>
  </div>
  {{#dependents}}
  <div class="leftnav">
    <!-- Eventually users name as an hbs param goes below -->
    <h2 class='dependentsId'><a href="/{{user_id}}/public/{{dependents_id}}">{{dependent_name}}</a></h2>
  </div>
  {{/dependents}}
<div class="leftnav new">
  <i class="fa fa-plus fa-lg"></i>
  <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/update">Add/update contacts</a></h2>

  </div>
</div>

<div class="right">
  <div class="row">
    <!-- Eventually get name from database -->
    <h2>{{name.dependent_name}}</h2>
  </div>
  <div class="row">
    <div class="list">
      <h3>Instructions</h3>
      <h1>{{title}}</h1>
      <p>
        {{body}}
      </p>
    </div>

    <div class="list">
      <h3>Contact</h3>
      <!-- Eventually contact info from databse -->
      <h4>My Phone</h4>
      <p>555-555-5555</p>
      <h4>Doctor's Phone</h4>
      <p>555-555-5555</p>
      <h4>Neighbor's Phone</h4>
      <p>555-555-5555</p>
      <h4>My Email</h4>
      <p>email@email.com</p>
    </div>
  </div>

  <div class="row">
    <section>
      <button>Update</button>
      <button>Delete</button>
    </section>
  </div>
</div>
