<div class="left">
  <div class="leftnav household">
<h3><a href="/{{user_id}}/public">{{user_name}}'s Household</a></h3>
  </div>
  {{#dependents}}
  <div class="leftnav">
    <h2 class='dependentsId'><a href="/{{user_id}}/public/{{dependents_id}}">{{dependent_name}}</a>
      <div class="circleimage2">
      <img src="{{picture_url}}" alt="" />
    </div></h2>
  </div>
  {{/dependents}}
</div>

<div class="right">
  <div class="row">
    <h2>{{rules.dependent_name}}</h2>
  </div>
  <div class="row">
    <div class="list">
      <h3>Instructions</h3>
      {{#each rules}}
      {{#if title}}
        <h1>{{title}}</h1>
        <h4>{{body}}</h4>
        {{/if}}
      {{/each}}
    </div>
    <div class="list">
      <h3>{{user_name}}'s Contact info</h3>
      {{#if user.phone_number}}
      <h4>{{user_name}}'s Phone</h4>
      <p>{{user.phone_number}}</p>

      {{/if}}
      {{#if contact_info.doctor_number}}
      <h4>Doctor's Phone</h4>
      <p>{{contact_info.doctor_number}}</p>
      {{/if}}
      {{#if contact_info.vet_number}}
      <h4>Vet's Phone</h4>
      <p>{{contact_info.vet_number}}</p>
      {{/if}}
      {{#if contact_info.dependent_friend_number}}
      <h4>Neighbor's Phone</h4>
      <p>{{contact_info.dependent_friend_number}}</p>
      {{/if}}
      <h4>{{user_name}}'s Email</h4>
      <p>{{user.user_name}}</p>
    </div>
  </div>
</div>
