<nav>
  <img class="applogo" src="/images/CaretakrWhite.png" alt="" />
  <div>
    <div class="circleimage">
      <img src="{{user.picture_url}}" alt="" />
    </div>
    <div class="navbar">
      <a href="/admin/{{user_id}}/settings">Settings</a>
      <a href="/auth/logout">Logout</a>
    </div>
  </div>
</nav>

<div class="left">
  <div class="leftnav household">
    <h3>Your Household</h3>
  </div>
  {{#dependents}}
  <div class="leftnav">
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/dependents/{{dependents_id}}">{{dependent_name}}</a>
      <div class="circleimage2">
    <img src="{{picture_url}}" alt="" />
  </div></h2>
  </div>
  {{/dependents}}
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
    <div class="leftnav new">
      <i class="fa fa-plus fa-lg"></i>
      <h2 class='dependentsId'><a href="/admin/{{user_id}}/contacts">Add/update contacts</a></h2>
    </div>
  </div>

  <div class="right">
    <div class="row">
      <form class="add" action="/admin/{{user_id}}/settings" method="post">
        <h3>Your Info</h3>
        <label for="user image">Change your link to a photo (ex:https://myphoto.com)</label><br>
        <input class="formputs" type="text" name="picture_url" value="{{user.picture_url}}"><br>
        <input type="submit" value="Update">
      </form>
    </div>
  </div>
