<nav>
  <img class="applogo" src="/images/CaretakrWhite.png" alt="" />

  <div>
    <div class="circleimage">
      <img src="{{user.picture_url}}" alt="" />
    </div>
    <div class="navbar">
      <a href="/admin/{{user_id}}/settings">Settings</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
</nav>

<div class="left">
  <div class="leftnav household">
    <h3><a href="/admin/{{user_id}}/home">Your Household</a></h3>
  </div>
  {{#dependents}}
  <div class="leftnav">
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/dependents/{{dependents_id}}">{{dependent_name}}</a>
      <div class="circleimage2">
    <img src="{{picture_url}}" alt="" />
  </div></h2>
  </div>
  {{/dependents}}

  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/add">Add new dependent</a></h2>  </div>
  <div class="leftnav new">
    <i class="fa fa-plus fa-lg"></i>
    <h2 class='dependentsId'><a href="/admin/{{user_id}}/contacts">Add/update contacts</a></h2>

  </div>
</div>

<div class="right">
  <div class="row">
    <form class="add" action="/admin/{{user_id}}/update/{{dependent_data.dependents_id}}" method="post">
      <h3>Update {{dependent_data.dependent_name}}</h3>
      <label for="being_type">Type</label><br>
      <input type="text" name="being_type" value="{{dependent_data.being_type}}"><br>

      <label for="name">Name</label><br>
      <input type="text" name="dependent_name" value="{{dependent_data.dependent_name}}"><br>
      <label for="picture_url">Link to a photo (ex:https://myphoto.com)</label><br>
      <input type="text" name="picture_url" value="{{dependent_data.picture_url}}"><br>

      <label for="section1name">Rule Name:</label>
      <input type="text" name="section1name" value="{{title1}}"><br>
      <label for="section1">Content</label><br>
      <textarea name="section1" rows="4" cols="40">{{body1}}</textarea><br>
      <label for="section1name">Rule Name:</label>
      <input type="text" name="section1name" value="{{title2}}"><br>
      <label for="section1">Content</label><br>
      <textarea name="section1" rows="4" cols="40">{{body2}}</textarea><br>
      <label for="section1name">Rule Name:</label>
      <input type="text" name="section1name" value="{{title3}}"><br>
      <label for="section1">Content</label><br>
      <textarea name="section1" rows="4" cols="40">{{body3}}</textarea><br>
      <label for="section1name">Rule Name:</label>
      <input type="text" name="section1name" value="{{title4}}"><br>
      <label for="section1">Content</label><br>
      <textarea name="section1" rows="4" cols="40">{{body4}}</textarea><br>

      <input type="submit" value="Update">

    </form>
    <form class="add" action="/admin/{{user_id}}/delete/{{dependent_data.dependents_id}}" method="post">
        <input type="submit" value="Delete {{dependent_data.dependent_name}}" id="delete_button">
    </form>
  </div>
</div>
